/* Color Variables */
:root {
    --white: #ffffff;
    --light-gray: #E3E3E3;
    --dark-gray: #6A6A6A;
    --dark-blue: #00408D;
    --navy-blue: #0D0D25;
    --golden-yellow: #F1C40F;
}

/* Global Styles */
html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    /* overflow: hidden; */
    font-family: "Roboto", sans-serif;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: bold;
    margin: 0 0 5px;
    /* Consistent spacing */
    line-height: 1.2;
}

.primary-heading {
    color: var(--navy-blue);
    font-weight: 700;
    line-height: 1.2;
    margin-bottom: 1rem;
}

.primary-heading span {
    color: var(--golden-yellow);
}

p {
    margin: 0 0 5px;
    line-height: 1.5;
    font-weight: 500;
    color: var(--navy-blue);
}


/* Utilities */
.m-left-auto {
    margin-left: auto;
}

.m-left {
    margin-left: 1rem;
}

.m-top {
    margin-top: 1rem;
}

.m-bottom{
    margin-bottom: 1rem;
}


.text-xs {
    font-size: 0.75rem;
    /* 12px */
}

.text-sm {
    font-size: 0.875rem;
    /* 14px */
}

.text-base {
    font-size: 1rem;
    /* 16px */
}

.text-lg {
    font-size: 1.125rem;
    /* 18px */
}

.text-xl {
    font-size: 1.25rem;
    /* 20px */
}

.text-2xl {
    font-size: 1.5rem;
    /* 24px */
}

.text-3xl {
    font-size: 1.875rem;
    /* 30px */
}

.text-4xl {
    font-size: 2.25rem;
    /* 36px */
}

.text-5xl {
    font-size: 3rem;
    /* 48px */
}

.text-6xl {
    font-size: 3.75rem;
    /* 60px */
}

.text-7xl {
    font-size: 4.5rem;
    /* 72px */
}

.text-8xl {
    font-size: 6rem;
    /* 96px */
}

.text-9xl {
    font-size: 8rem;
    /* 128px */
}

.text-dark-grey{
    color: var(--dark-gray);
}

.text-navy-blue{
    color: var(--navy-blue);
}

.text-golden-yellow{
    color: var(--golden-yellow);
}

.text-white{
    color: var(--white);
}

.text-light-gray{
    color: var(--light-gray);
}

/* Buttons and Links */
.read-more {
    color: var(--golden-yellow);
    font-weight: 600;
    font-size: 14px;
    letter-spacing: 1px;
    text-transform: capitalize;
    text-decoration: none;
    margin-top: 20px;
    margin-bottom: 10px;
    transition: all 0.3s ease-in-out;
}

.read-more:hover {
    text-decoration: none;
    color: var(--dark-blue);
}

.read-more-icon {
    color: var(--navy-blue);
    font-size: 1.5rem;
    font-weight: bold;
    letter-spacing: 1px;
    text-transform: capitalize;
    margin-top: 30px;
    margin-bottom: 10px;
    text-decoration: none;
    transition: all 0.3s ease-in-out;
}

.read-more-icon:hover {
    text-decoration: none;
}

.read-more-icon:hover span{
    background-color: var(--golden-yellow);
}

.read-more-icon span{
    background-color: var(--dark-blue);
    color: var(--white);
    text-align: center;
    border-radius: 50%;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 25px;
    height: 25px;
    margin-left: 5px;
    transition: all 0.3s ease-in-out;
}

.view-all {
    color: var(--white);
    font-weight: 600;
    font-size: 14px;
    letter-spacing: 1px;
    text-transform: capitalize;
    text-decoration: none;
    margin-top: 20px;
    margin-bottom: 10px;
    transition: all 0.3s ease-in-out;
    float: right;
}

.view-all:hover {
    text-decoration: none;
    color: var(--golden-yellow);
}


/* Section top-header */

.top-header {
    min-height: 30px;
    width: 100%;
    background-color: var(--light-gray);
}

.top-header-items {
    min-height: 30px;
    width: 100%;
    display: flex;
    align-items: center;
}

.top-header-item {
    display: flex;
    align-items: center;
    margin-right: 10px;
}

.top-header-item .dropdown:hover {
    background-color: transparent;
    border: none;
}

.top-header-item .dropdown.open {
    background-color: transparent !important;
}

.top-header-item .dropdown .dropdown-toggle {
    background-color: transparent;
    border: none;
    color: var(--navy-blue);
    font-weight: 600;
    font-size: 14px;
    letter-spacing: 1px;
    padding: 0;
}

.top-header-item .dropdown .dropdown-menu {
    border-bottom: 4px solid var(--golden-yellow);
    border-radius: 0;
    margin-top: 10px;
    padding: 0;
    min-width: 200px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.top-header-item a {
    color: var(--navy-blue);
    font-weight: 600;
    font-size: 14px;
    letter-spacing: 1px;
    text-decoration: none;
}

.top-header-item-border {
    display: inline-block;
    width: 3px;
    height: 20px;
    background-color: var(--golden-yellow);
    margin-left: 10px;
}

.top-header-social-icons {
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: space-between;
}

.top-header-social-icons a {
    color: var(--navy-blue);
    font-size: 18px;
    text-decoration: none;
}

/* Logo Banner Section */

.logo-banner-section {
    padding: 20px 0;
    /* text-align: center; */
}

.sau-logo {
    height: 60px;
    margin-top: 5px;
}

.saarc-logo {
    height: 80px;
    float: right;
}

.logo-banner-title {
    text-align: center;
}

.logo-banner-title h2 {
    font-size: 2.5rem;
    color: var(--navy-blue);
}

.logo-banner-title h3 {
    font-size: 1.5rem;
    color: var(--navy-blue);
}


@media(max-width: 767px) {
    .top-header {
        height: 15px;
    }

    .top-header-items {
        height: 15px;
    }

    .top-header-item a {
        font-size: 10px;
    }

    .top-header-item .dropdown .dropdown-toggle {
        font-size: 10px;
    }

    .logo-banner-section {
        padding: 10px 0;
    }

    .logo-banner-title h2 {
        font-size: 1.2rem;
        margin-bottom: 5px;
    }

    .logo-banner-title h3 {
        font-size: 1rem;
    }

    .sau-logo {
        height: 40px;
        margin-top: 5px;
        display: block;
        margin: 0 auto;
        margin-bottom: 10px;
    }

    .saarc-logo {
        height: 60px;
        float: none;
        display: block;
        margin: 0 auto;
    }
}

/* Navigation Menu */
.navigation-section {
    background-color: var(--dark-blue);
}

.navbar-default {
    background-color: var(--dark-blue);
    border: none;
    border-radius: 0;
    margin-bottom: 0;
}

.navbar-default .navbar-nav>li>a {
    color: var(--light-gray) !important;
    font-weight: bold;
    padding: 15px 20px;
}

.navbar-default .navbar-nav>li>a:hover {
    color: var(--dark-blue);
    border-bottom: 3px solid var(--golden-yellow);
}

.dropdown-large {
    position: static !important;
}

.navbar-default .navbar-nav>.open>a,
.navbar-default .navbar-nav>.open>a:focus,
.navbar-default .navbar-nav>.open>a:hover {
    background-color: transparent;
    border-bottom: 3px solid var(--golden-yellow);
}

/* .dropdown-large:hover .dropdown-menu{
    display: block;
} */


.dropdown-menu-large {
    min-width: 80%;
    padding: 20px;
    background-color: #ffffff;
    border: none;
    border-bottom: 4px solid var(--dark-blue);
    color: var(--light-gray);
    border-radius: 5px;
    box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.1);
}

.mega-menu-content .dropdown-header {
    color: var(--navy-blue);
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 10px;
    padding: 0;
}

.mega-menu-content ul li {
    display: flex;
    align-items: center;
    gap: 10px;
}

.mega-menu-content ul li a {
    color: var(--dark-blue);
    font-weight: bold;
    padding: 5px 0;
    display: block;
}

.mega-menu-content ul li i {
    color: var(--golden-yellow);
}

.mega-menu-content ul li a:hover {
    color: var(--golden-yellow);
    text-decoration: none;
}

.mega-menu-content .row div:not(:last-child) {
    border-right: 2px solid var(--light-gray);
}

@media(max-width: 767px) {
    .navbar-nav .open .dropdown-menu {
        background-color: #ffffff;
    }

    .navbar-nav .open .dropdown-menu .dropdown-header,
    .navbar-nav .open .dropdown-menu>li>a {
        padding: 10px 0 0 0;
    }
}

/* Image carousel section */
.image-and-apply {
    position: relative;
    height: 450px;
}

.hero-cta-button {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}

.hero-cta-button .btn-group {
    display: flex;
    justify-content: center;
}

.hero-cta-button .btn-group a {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 60px;
    min-width: 200px;
    color: var(--white);
    text-decoration: none;
    font-weight: bold;
    text-transform: uppercase;
    background-color: var(--dark-blue);
}

.hero-cta-button .btn-group a:nth-child(1) {
    background-color: var(--dark-blue);
}

.hero-cta-button .btn-group a:nth-child(2) {
    background-color: var(--navy-blue);
}

.hero-cta-button .btn-group a:nth-child(3) {
    background-color: var(--golden-yellow);
}

#hero-carousel {
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

#hero-carousel .carousel-inner .item::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(13, 13, 37, 0.59);
}

#hero-carousel .carousel-inner .item img {
    width: 100%;
    height: 500px;
    object-fit: cover;
}

.carousel-caption {
    bottom: 20%;
}

.carousel-caption h3 {
    font-weight: 400;
    letter-spacing: 1px;
    color: var(--light-gray);
}


@media(max-width: 864px) {
    .image-and-apply {
        position: relative;
        height: 100%;
        max-height: 250px;
    }

    .hero-cta-button {
        display: none;
    }
}


/* Announcement Section */




/* President Message Section */
.president-message-section {
    padding: 80px 0;
    /* min-height: 700px; */
    position: relative;
}

.president-image-container {
    position: relative;
    min-height: 600px;
}

.president-message-container {
    position: relative;
    min-height: 600px;
}

.president-image {
    width: 90%;
    border-radius: 14px;
    position: absolute;
    right: -30px;
}

.president-message {
    position: absolute;
    width: 90%;
    top: 40px;
    left: -30px;
    min-height: 82%;
    padding: 2rem 3rem;
    background-color: #ffffff;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
    border-radius: 14px;
    z-index: 1;
}

.pr-left-illustrations {
    position: absolute;
    top: 40%;
    left: 30px;
    height: 50%;
    transform: translateY(-50%);
}

.pr-right-illustrations {
    position: absolute;
    right: 30px;
    top: 20%;
    height: 50%;
}

@media(max-width: 992px) {
    .president-image-container {
        position: static;
        margin: 0 auto;
        width: 100%;
        min-height: 100%;
    }

    .pr-right-illustrations {
        display: none;
    }

    .pr-left-illustrations {
        display: none;
    }

    .president-image {
        position: static;
        width: 100%;
        margin: 0 auto;
    }

    .president-message {
        position: static;
        width: 95%;
        margin: 0 auto;
        margin-top: -10%;
    }
}

/* Programs Section */
.programs-section {
    padding: 80px 0;
    padding-top: 0;
}

.programs-section .nav-tabs {
    border: none;
    margin-top: 30px;
    margin-bottom: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    border-bottom: none;
}

.programs-section .nav-tabs li {
    border: none;
    border-radius: 14px 14px 14px 14px !important;

}

.programs-section .nav-tabs li.active a {
    background-color: var(--golden-yellow);
    color: var(--white);
}

.programs-section .nav-tabs li:hover a {
    background-color: var(--golden-yellow);
    color: var(--white);
}

.programs-section .nav-tabs li a {
    border: none;
    color: var(--dark-gray);
    font-weight: bold !important;
    padding: 10px 30px;
    border-radius: 14px 14px 14px 14px !important;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease-in-out;
}

.programs-section .tab-pane {
    padding-top: 20px;
    position: relative;
}

.programs-section .swiper-container {
    padding: 30px 0 60px 0;
    position: relative;
    overflow: hidden;
}

.programs-section .swiper-slide {
    background: #fff;
    border-radius: 10px;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
}

.programs-section .swiper-pagination{
    bottom: 20px;
}

.programs-section .swiper-pagination-bullet-active{
    background-color: var(--dark-blue);
}

.programs-section .swiper-button-prev{
    top: 0;
    left: 90%;
}

.programs-section .swiper-button-next{
    top: 0;
    left: 96%;
    color: var(--white) !important;
    background-color: var(--dark-blue);
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

.programs-section .swiper-button-prev{
    top: 0;
    left: 92%;
    color: var(--white);
    background-color: var(--dark-blue);
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

.programs-section .swiper-button-next::after,
.programs-section .swiper-button-prev::after {
    display: none;
}

.programs-section .card {
    /* padding: 15px; */
}

.programs-section .card-caption{
    padding: 1.5rem;
}

.programs-section .card img {
    width: 100%;
    border-radius: 10px 10px 0 0;
}

.programs-section .card h4 {
    font-weight: bold;
    margin-top: 10px;
    color: var(--navy-blue);
}

.programs-section .card p {
    font-size: 14px;
    color: var(--dark-gray);
}

.programs-section .swiper-button-next,
.swiper-button-prev {
    color: #004aad;
}

/* Event section */
.event-section {
    padding: 80px 0;
    background-color: var(--navy-blue);
}

.event-card {
    background: white;
    color: var(--navy-blue);
    border-radius: 8px;
    box-shadow: 0px 4px 10px rgba(0,0,0,0.1);
    overflow: hidden;
}




.event-caption{
    padding: 1rem;
}

.event-image-date{
    overflow: hidden;
    position: relative;
}

.event-card img{
    width: 100%;
    transition: all 300ms ease-in-out;
    border-radius: 8px 8px 0 0;
}

.event-card:hover img{
    transform: scale(1.2);
}

.event-date {
    background: var(--navy-blue);
    color: white;
    padding: 5px;
    border-radius: 5px;
    width: 80px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    font-weight: bold;
    z-index: 99;
    bottom: 0;
    left: 10px;
    position: absolute;
    border-radius: 5px 5px 0 0;
}
.event-btn {
    display: block;
    padding: 10px;
    color: white;
    font-weight: bold;
    text-align: center;
    border-radius: 0 0 8px 8px;
    margin-top: 10px;
    transition: all 300ms ease-out;
}

.event-btn.yellow { background: var(--golden-yellow); }
.event-btn.blue { background: var(--dark-blue); }

.event-btn:hover{
    text-decoration: none;
    color: var(--white);
    background: var(--dark-gray);
}

/* ======================================= */
.upcoming-events{
    padding: 0 0 0 20px;
}

.event-list {
    padding: 10px 0;
}
.event-item {
    margin-bottom: 15px;
    border-bottom: 1px solid #313131;
    padding-bottom: 10px;
}
.event-item h4 {
    color: var(--golden-yellow);
    font-size: 1.5rem;
}
.event-item p {
    color: var(--dark-gray);
    font-size: 14px;
    margin-bottom: 0;
}

/* Research Section */
.research-section {
    padding: 80px 0;
}

.research-section .nav-tabs {
    border: none;
    margin-top: 30px;
    margin-bottom: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    border-bottom: none;
}

.research-section .nav-tabs li {
    border: none;
    border-radius: 14px 14px 14px 14px !important;

}

.research-section .nav-tabs li.active a {
    background-color: var(--golden-yellow);
    color: var(--white);
}

.research-section .nav-tabs li:hover a {
    background-color: var(--golden-yellow);
    color: var(--white);
}

.research-section .nav-tabs li a {
    border: none;
    color: var(--dark-gray);
    font-weight: bold !important;
    padding: 10px 30px;
    border-radius: 14px 14px 14px 14px !important;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease-in-out;
}

.research-section .tab-pane {
    padding-top: 20px;
    position: relative;
}

.research-section .swiper-container {
    padding: 30px 0 60px 0;
    position: relative;
    overflow: hidden;
}

.research-section .swiper-slide {
    background: #fff;
    border-radius: 10px;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
}

.research-section .swiper-pagination{
    bottom: 20px;
}

.research-section .swiper-pagination-bullet-active{
    background-color: var(--dark-blue);
}

.research-section .swiper-button-prev{
    top: 0;
    left: 90%;
}

.research-section .swiper-button-next{
    top: 0;
    left: 96%;
    color: var(--white) !important;
    background-color: var(--dark-blue);
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

.research-section .swiper-button-prev{
    top: 0;
    left: 92%;
    color: var(--white);
    background-color: var(--dark-blue);
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

.research-section .swiper-button-next::after,
.research-section .swiper-button-prev::after {
    display: none;
}

.research-section .card {
    padding: 15px;
    display: flex;
    align-items: flex-start;
}

.research-section .card-caption{
    padding: 0 0 0 1.5rem;
}

.research-section .card img {
    width: 80px;
    height: 80px;
    object-fit: cover;
    border-radius: 4px;
}

.research-section .card h4 {
    font-weight: bold;
    /* margin-top: 10px; */
    color: var(--navy-blue);
}

.research-section .card p {
    font-size: 14px;
    color: var(--dark-gray);
}

.research-section .swiper-button-next,
.swiper-button-prev {
    color: #004aad;
}

/* SAU Video section */
.sau-video-section{
    padding: 80px 0;
    background-color: var(--dark-blue);
}

.sau-video-card{

}

.sau-video-card h4{
    color: var(--white);
    font-weight: bold;
    font-size: 1.5rem;
    margin-bottom: 15px;
}

.video-card-image{
    position: relative;
    overflow: hidden;
}

.sau-video-card img{
    width: 100%;
    transition: transform 300ms ease-in-out;
    margin-bottom: 15px;
}

.video-play-button {
    font-size: 10rem;
    font-weight: 300;
    position: absolute;
    top: 0;
    left: 0;
    color: var(--white);
    z-index: 1;
    opacity: 0;
    transition: all 300ms ease-in-out;
    height: 100%;
    width: 100%;
    background-color: rgba(25, 15, 76, 0.503);
    display: flex;
    justify-content: center;
    align-items: center;
}

.sau-video-card:hover .video-play-button {
    opacity: 1;
}

.sau-video-card:hover img {
    transform: scale(1.2);
}

.sau-video-section .swiper-container{
    overflow: hidden;
    padding: 4rem 0;
}

.sau-video-section .swiper-pagination-bullet-active{
    background-color: var(--white);
}

.sau-video-section .swiper-button-next{
    right: -40px;
    color: var(--white);
    font-size: 5rem;
}

.sau-video-section .swiper-button-prev{
    left: -40px;
    color: var(--white);
    font-size: 5rem;
}

.sau-video-section .swiper-button-next::after,
.sau-video-section .swiper-button-prev::after {
    display: none;
}


/* Testimonial Section */
.testimonial-section{
    padding: 80px 0;
}



/* University Achievements Section Styles */
.university-achievements {
    padding: 80px 0 50px 0;
    color: #fff;
    text-align: center;
    position: relative;
}

.blur {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 63, 141, 0.732);
    z-index: -1;
}


.university-achievements::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(13, 13, 37, 0.632);
    z-index: -1;
}

.university-achievements::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('../images/sua-campus.jpg');
    background-size: cover;
    background-position: center;
    z-index: -1;
}

.achievement-item {
    margin: 0 auto;
    margin-bottom: 30px;
    padding: 15px;
    transition: transform 0.3s ease;
    width: 95%;
    border-radius: 8px;
    z-index: 2;
    position: relative;
}

.achievement-item::after {
    content: '';
    position: absolute;
    top: 30%;
    left: 0;
    width: 100%;
    height: 80%;
    background-color: rgba(13, 13, 37, 0.618);
    z-index: -1;
}

.achievement-item:hover {
    transform: scale(1.05);
}

.achievement-item .icon {
    font-size: 48px;
    margin: 0 auto;
    margin-bottom: 15px;
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--light-gray);
    background-color: rgba(13, 13, 37, 0.892);
    border-radius: 50%;
    box-shadow: 0px 18px 36px -18px rgba(0, 0, 0, 0.1), 0px 30px 45px -30px rgba(50, 50, 93, 0.25);
}

.achievement-item h3 {
    font-size: 18px;
    margin-bottom: 10px;
    text-transform: uppercase;
}

.achievement-item p {
    color: #bdc3c7;
    font-size: 14px;
}

@media (max-width: 768px) {
    .achievement-item {
        margin-bottom: 20px;
    }
}



/* Extended Footer */

footer {
    background: var(--navy-blue);
    min-height: 600px;
    color: #fff;
    position: sticky;
    top: 100vh;
    padding: 55px 20px;
}

hr {
    margin: 40px 0px;
    border-color: rgba(156, 255, 204, 0.08);
}

.container {
    margin: 0 auto;
}

@media screen and (min-width: 1280px) {
    .container {
        max-width: 1456px;
        padding-left: 64px;
        padding-right: 64px;
    }
}

@media screen and (min-width: 960px) {
    .container {
        padding-left: 40px;
        padding-right: 40px;
    }
}

@media screen and (min-width: 600px) {
    .container {
        padding-left: 24px;
        padding-right: 24px;
    }
}

.socials {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 40px;
    font-size: 2rem;
}

.socials a {
    color: var(--light-gray);
}

.socials a:not(:last-of-type) {
    margin-right: 10px;
}

.socials .btn-to-top {
    background: none;
    color: #fff;
    border-style: none;
    font-size: 13px;
    line-height: 16px;
    letter-spacing: 2px;
    font-weight: 600;
    text-transform: uppercase;
    cursor: pointer;
    text-decoration: none;
}

.socials .btn-to-top:hover {
    color: var(--golden-yellow);
}

.socials .btn-to-top:hover .bi-arrow-up::before {
    transform: translateY(-3px);
}

.socials .btn-to-top .bi-arrow-up {
    font-size: 13px;
    border: 1px solid #fff;
    padding: 3px;
    margin-left: 3px;
}

.socials .btn-to-top .bi-arrow-up::before {
    transition: transform 0.9s;
}

@media screen and (min-width: 600px) {
    .socials .btn-to-top .bi-arrow-up {
        border-style: none;
    }
}

.socials .text-to-top {
    display: none;
}

@media screen and (min-width: 600px) {
    .socials .text-to-top {
        display: inline;
    }
}

.footer__main {
    display: flex;
    flex-wrap: wrap;
    gap: 32px;
}

.footer__column {
    display: flex;
    flex-flow: column nowrap;
    flex: 1;
}

/* @media screen and (min-width: 600px) {
    .footer__column {
        flex: initial;
    }
} */

.footer__column a {
    padding-bottom: 8px;
    font-size: 14px;
    line-height: 22px;
    letter-spacing: 0.2px;
    color: var(--dark-blue);
    text-decoration: none;
}

.footer__column a:hover {
    color: var(--golden-yellow);
}

.footer__sau-logo {
    height: 160px;
    width: 100px;
}

/* .footer__column-logo {
    display: flex;
    flex-direction: column;
    width: 10%;
} */

.footer__col-title {
    display: inline-block;
    padding: 10px 0;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 12px;
    line-height: 18px;
    letter-spacing: 2px;
    color: #cccccc;
}

.footer__copyright {
    font-weight: 400;
    font-size: 12px;
    line-height: 22px;
    letter-spacing: 0.2px;
    color: #dbdee3;
    text-align: center;
    margin: 30px 0;
}

.footer__legal {
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media screen and (min-width: 960px) {
    .footer__legal {
        flex-direction: row;
    }
}

.footer__legal a {
    font-size: 13px;
    line-height: 22px;
    letter-spacing: 0.2px;
}

.footer__logos {
    margin-top: 30px;
}

.footer__logos .bi {
    font-size: 2.2rem;
}

@media screen and (min-width: 960px) {
    .footer__legal a:not(:last-of-type) {
        margin-right: 15px;
    }

    .footer__logos {
        margin-left: auto;
        margin-top: 0;
    }

    .footer__copyright {
        text-align: initial;
        margin: initial;
    }
}